* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#logo {
    margin-top: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/fondo.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: burlywood;

}

.menu .navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #8a774b;
    /* color dorado/ocre */
    transition: width 0.3s ease;
}

.menu .navbar ul li a:hover::after {
    width: 100%;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16;
    color: white;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: burlywood;
    color: white;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: rgb(192, 142, 77);
}

.coffee {
    padding: 100px 0;
    background-color: rgb(199, 192, 192);
    position: relative;
}

.coffee-content {
    text-align: center;
}

.coffee-content h2 {
    font-size: 55px;
    line-height: 70px;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 50px;
}

.coffee-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.coffee-1 img {
    width: 200px;
}

.coffee-2 img {
    height: 200px;
}

.coffee-3 img {
    height: 200px;
}

.coffee-img {
    position: absolute;
    top: 0;
    right: 0;
}

.coffee-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(../assets/fondo1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;

}

.services1 h3 {
    color: white;
}

.services-content {
    text-align: center;
}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: white;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.services-1 img {
    width: 25px;
    margin-bottom: 15px;
}

.services-1 h3 {
    color: #eaccb3;
    font-size: 18px;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}

.general-2 {
    background-image: url(../assets/tela1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(../assets/teta2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;

}

.blog {
    padding: 100px 0;
    text-align: center;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    padding: 15px 55px;
}

.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;

}

.blog-1 h3 {
    font-size: 25px;
    color: #323337;

}
@media(max-width:991px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background-color: red;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    menu:checked ~ .navbar{
        display: initial;
    }
    .header{
        min-height: 0vh;
    }
    .header-content{
        padding: 100px 30px;
    }
    .header-content p{
        padding: 0px;
    }
    .coffee{
        padding: 30px;
    }
    .coffee-content h2{
        padding: 0px;
    }
    .txt-p{
        padding: 0px;
    }
    .coffee-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .coffee-img{
        display: none;
    }
    .services{
        padding: 30px;
    }
    .services-content p{
        padding: 0px;
    }
    .services-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .services-1{
        margin-bottom: 25px;
    }
    .general{
        flex-direction: column;
    }
    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    .general-2 .general-3{
        display: none;
    }
    .blog{
        padding: 30px;
    }
    .blog-content{
        flex-direction: column;
    }
    .blog-1{
        padding: 0;
    }
}